---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={YukinaConfig.locale}>
  <head>
    <!-- 引入 Plausible Analytics 脚本 -->
    <script defer data-domain="yourdomain.com" src="https://plausible.io/js/script.js"></script>
    <BaseHead />
  </head>
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>